.fundo {
    height: 60vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.escrita {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;

    height: 20rem;
    width: 25rem;
    background: #051122;
    color: white;
    border-radius: 30px;
}