.container {
    background: #041122;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 4.1875rem;
    max-width: 75%;
    margin: 0 auto;

    margin-bottom: 2rem;
}

.logo {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: url("../imagens/logo.png") no-repeat center;
    background-size: 130%;

    border: #041122 solid 3px;
    margin-top: 3rem;
}

.itens {
    display: flex;
    align-items: center;
    gap: 2rem;

    color: white;
}

.itens a {
    color: white;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
}

.itens a:hover {
    color: #259073;
}

.btn {
    width: 5rem;
    height: 2rem;
    background: red;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    color: white;

    transition: 0.2s;
    cursor: pointer;
}

.btn:hover {
    background: #9e2618;
}